:root{
    --cor-fundo:  #040e01;
    --cor-verde: #32d800;
    --cor-secundaria: #124d00;
    --cor-letra: #ffffff;
}
.titulo{
    color: var(--cor-verde);
    text-align: center;
    font-size: 50px;
}
.caixa-principal{
    color: var(--cor-letra);
    background-color: var(--cor-fundo);
    font-size: 25px;
    text-align: justify;
    grid-template-columns: 33%;
}
.caixa-alternativas{
    font-size: 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-verde);
}

