:root{
    --cor-fundo:  #040e01;
    --cor-letra: #32d800;
    --cor-secundaria: #124d00;
}
.titulo{
    color: var(--cor-letra);
    text-align: center;
    font-size: 50px;
}
.fundo{
    background-color: var(--cor-fundo);
}